
.header{
  background-color: #1d3136;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 1;
}
.menu{
  display:inline-block;
  padding: 20px;
  color: white;
}
.menu:hover{
background-color: white;
color: green;
}

.padding-profile{
  background-color: #c5d8dd;
  padding-top : 100px;

}
.text-name-big {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #1d3136;


}

.margin-atas {
  margin-top: 200px;
}

.text-name-small {
  font-size: 30px;
  color: #e7927f;
}

.margin-left {
  padding-left: 70px;


}

.sub-judul {

  letter-spacing: 3px;
}

.sub-margin {
  margin-top: 100px;
}

.margin-expertise {
  margin-top: 30px;
}

.number-expertise {
  color:#1d3136;
}

.desc-expertise {
  border-left: #1d3136 solid 4px;
  background-color: rgb(243, 239, 239);
  padding: 30px ;
}

.desc-expertise:hover {
  background-color:#cbdce0;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line-bar {

  border-top: 1px solid #b4aead;
}

.margin-bawah{
  min-height: 200px;
}
.padding-content {
  padding: 100px 0px;
  margin-top: 50px;
}

.jumbotron{

  background-attachment: fixed;
  background-size: cover;
}
.judul-nama{
  color: aliceblue;
}
.judul-content{
  color: white;
  margin-bottom: 50px;
  font-size: 50px;
}
.sub-judul-content{
  color: white;
}