.text-name-big {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #EA4C2B;


}

.margin-atas {
  margin-top: 200px;
}

.text-name-small {
  font-size: 30px;
  color: #E5B4A9;
}

.margin-left {
  padding-left: 70px;


}

.sub-judul {

  letter-spacing: 3px;
}

.sub-margin {
  margin-top: 150px;
}

.margin-expertise {
  margin-top: 30px;
}

.number-expertise {
  color: #EA4C2B;
}

.desc-expertise {
  border-left: #EA4C2B solid 4px;
  background-color: rgb(243, 239, 239);
  padding: 30px 10px;
}

.line-bar {

  border-top: 1px solid #b4aead;
}

.margin-bawah{
  min-height: 200px;
}