
.header{
  background-color: #e67a62;
}
.menu{
  display:inline-block;
  padding: 20px;
  color: white;
}
.menu:hover{
background-color: white;
color: green;
}


.text-name-big {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3px;
  color: #EA4C2B;


}

.margin-atas {
  margin-top: 200px;
}

.text-name-small {
  font-size: 30px;
  color: #E5B4A9;
}

.margin-left {
  padding-left: 70px;


}

.sub-judul {

  letter-spacing: 3px;
}

.sub-margin {
  margin-top: 100px;
}

.margin-expertise {
  margin-top: 30px;
}

.number-expertise {
  color: #EA4C2B;
}

.desc-expertise {
  border-left: #EA4C2B solid 4px;
  background-color: rgb(243, 239, 239);
  padding: 30px ;
}

.desc-expertise:hover {
  background-color: #e0cfcb;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.line-bar {

  border-top: 1px solid #b4aead;
}

.margin-bawah{
  min-height: 200px;
}